
<%- include('../partials/header') %>
  
    <form action="/characters/<%= character._id %>" method="PUT">
        <!-- Value attribute is being set to the comment's current text -->
        <input name="text" value="<%= character.char %>">
        <input name="text" value="<%= character.name %>">
        <input name="text" value="<%= character.personality %>">
        <input name="text" value="<%= character.occupation %>">
        <input name="text" value="<%= character.accessory %>">
        <button type="submit">UPDATE</button>
      </form>
    
   
