
<%- include('../partials/header') %>

 <!-- PAGE NEEDS WORK -->


 <form id="ed" action="/characters/<%= character._id %>?_method=PUT" method="POST">
   
    <section id="showPage">
   <div id = "all">
    <div id = "ch">Character: <%= character.char %></div>
    <div id = "ne">Name: <%= character.name %></div>
    <div id = "pe">Personality trait(s): <%= character.personality %></div>
    <div id = "oc">Occupation: <%= character.occupation %></div>
    <div id = "ac">Accessory: <%= character.accessory %></div>
    </>

</form>
</section>




   
</section>
<form action="/characters/<%= character._id %>/delete?_method=DELETE" method="POST">
    <img src="/images/skull.png" id = "skully">
    <button type = "submit" id = 'del'>KILL</button>
    
    </form>
</section>




