


 <!-- PAGE NEEDS WORK -->



<section id="show-page">
    <div>Character: </div>
    <div><%= character.char %></div>
    <div>Name: </div>
    <div><%= character.name %></div>
    <div>Personality trait(s): </div>
    <div><%= character.personality %></div>
    <div>Occupation: </div>
    <div><%= character.occupation %></div>
    <div>Accessory: </div>
    <div><%= character.accessory %></div>
<a href = "/characters/edit/">Edit</a>
    <!-- end cast list -->
</section>
<!-- edit -->
<!-- <form id="updt" action="/character/<%= character._id %>/new" method="post">
    <div>Character: </div>
    <div><%= character.char %></div>
    <div>Name: </div>
    <div><%= character.name %></div>
    <div>Personality trait(s): </div>
    <div><%= character.personality %></div>
    <div>Occupation: </div>
    <div><%= character.occupation %></div>
    <div>Accessory: </div>
    <div><%= character.accessory %></div>
    <button type="submit">Add Acc</button>
</form> -->



