
<%- include('../partials/header') %>

 <!-- PAGE NEEDS WORK -->


 <form id="ed" action="/characters/<%= character._id %>?_method=PUT" method="POST">
    
    <section id="show-page">
   <ul>
    <li id = "ch">Character: <%= character.char %></li>
    <li id = "ne">Name: <%= character.name %></li>
    <li id = "pe">Personality trait(s): <%= character.personality %></li>
    <li id = "oc">Occupation: <%= character.occupation %></li>
    <li id = "ac">Accessory: <%= character.accessory %></li>
    </ul>
</form>
</section>
    



   
</section>
<form id="del" action="/characters/<%= character._id %>/delete?_method=DELETE" method="POST">
    <button type = "submit">Delete</button>
    </form>
</section>



